flows.json
[
    {
        "id": "b1c2d3e4f5a60001",
        "type": "tab",
        "label": "번호판 인식",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c2d3e4f5a60002",
        "type": "tab",
        "label": "HTTP 트리거",
        "disabled": false,
        "info": "",
        "env": []
    },

    {
        "id": "b1c2d3e4f5a60010",
        "type": "inject",
        "z": "b1c2d3e4f5a60001",
        "name": "수동 촬영 트리거",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [["b1c2d3e4f5a60011"]]
    },
    {
        "id": "b1c2d3e4f5a60011",
        "type": "exec",
        "z": "b1c2d3e4f5a60001",
        "command": "rpicam-jpeg -o /tmp/nr_capture.jpg --width 1280 --height 720 --timeout 1000 -n 2>/dev/null && cat /tmp/nr_capture.jpg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "카메라 촬영",
        "x": 360,
        "y": 100,
        "wires": [["b1c2d3e4f5a60012"], [], []]
    },
    {
        "id": "b1c2d3e4f5a60012",
        "type": "function",
        "z": "b1c2d3e4f5a60001",
        "name": "stdout → Buffer + 헤더",
        "func": "msg.payload = Buffer.from(msg.payload);\nmsg.headers = { \"Content-Type\": \"image/jpeg\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [["b1c2d3e4f5a60013"]]
    },
    {
        "id": "b1c2d3e4f5a60013",
        "type": "http request",
        "z": "b1c2d3e4f5a60001",
        "name": "Flask /detect",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/detect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 100,
        "wires": [["b1c2d3e4f5a60014", "b1c2d3e4f5a60015"]]
    },
    {
        "id": "b1c2d3e4f5a60014",
        "type": "function",
        "z": "b1c2d3e4f5a60001",
        "name": "결과 포맷",
        "func": "var result = msg.payload;\nif (!result.success) {\n    msg.payload = \"오류: \" + result.error;\n    return msg;\n}\nif (result.count === 0) {\n    msg.payload = \"번호판을 찾지 못했습니다.\";\n    return msg;\n}\nvar lines = result.plates.map(function(p, i) {\n    return (i+1) + \") \" + (p.text || \"(인식불가)\") +\n           \" | 탐지: \" + (p.detection_confidence*100).toFixed(1) + \"%\" +\n           \" | OCR: \" + (p.ocr_confidence*100).toFixed(1) + \"%\";\n});\nmsg.payload = \"번호판 \" + result.count + \"개 감지:\\n\" + lines.join(\"\\n\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 80,
        "wires": [["b1c2d3e4f5a60016"]]
    },
    {
        "id": "b1c2d3e4f5a60015",
        "type": "debug",
        "z": "b1c2d3e4f5a60001",
        "name": "원본 JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "b1c2d3e4f5a60016",
        "type": "debug",
        "z": "b1c2d3e4f5a60001",
        "name": "번호판 결과",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1180,
        "y": 80,
        "wires": []
    },

    {
        "id": "b1c2d3e4f5a60030",
        "type": "inject",
        "z": "b1c2d3e4f5a60001",
        "name": "헬스체크",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [["b1c2d3e4f5a60031"]]
    },
    {
        "id": "b1c2d3e4f5a60031",
        "type": "http request",
        "z": "b1c2d3e4f5a60001",
        "name": "Flask /health",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 240,
        "wires": [["b1c2d3e4f5a60032"]]
    },
    {
        "id": "b1c2d3e4f5a60032",
        "type": "debug",
        "z": "b1c2d3e4f5a60001",
        "name": "Flask 상태",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 560,
        "y": 240,
        "wires": []
    },

    {
        "id": "b1c2d3e4f5a60020",
        "type": "http in",
        "z": "b1c2d3e4f5a60002",
        "name": "POST /capture",
        "url": "/capture",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [["b1c2d3e4f5a60021"]]
    },
    {
        "id": "b1c2d3e4f5a60021",
        "type": "exec",
        "z": "b1c2d3e4f5a60002",
        "command": "rpicam-jpeg -o /tmp/nr_capture.jpg --width 1280 --height 720 --timeout 1000 -n 2>/dev/null && cat /tmp/nr_capture.jpg",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "카메라 촬영",
        "x": 360,
        "y": 100,
        "wires": [["b1c2d3e4f5a60022"], [], []]
    },
    {
        "id": "b1c2d3e4f5a60022",
        "type": "function",
        "z": "b1c2d3e4f5a60002",
        "name": "stdout → Buffer + 헤더",
        "func": "msg.payload = Buffer.from(msg.payload);\nmsg.headers = { \"Content-Type\": \"image/jpeg\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [["b1c2d3e4f5a60023"]]
    },
    {
        "id": "b1c2d3e4f5a60023",
        "type": "http request",
        "z": "b1c2d3e4f5a60002",
        "name": "Flask /detect",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/detect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 100,
        "wires": [["b1c2d3e4f5a60024"]]
    },
    {
        "id": "b1c2d3e4f5a60024",
        "type": "http response",
        "z": "b1c2d3e4f5a60002",
        "name": "응답 반환",
        "statusCode": "",
        "headers": {"Content-Type": "application/json"},
        "x": 980,
        "y": 100,
        "wires": []
    }
]
